.radio-box {
    border: 1px solid $radio-box-color;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    font-size: 0.85em;
    .badge {
        position: absolute;
        top: -8.5px;
        right: 5%;
        font-weight: 100;
    }
    .badge.badge_updated {
        display: none;
    }
    .badge.badge_onair {
        display: none;
        background-color: #0bb697;
    }
    .badge.badge_offline {
        display: none;
    }
    .image {
        vertical-align: middle;
        line-height: $song-box-height;
    }
    .image img{
        display: inline-block;
    }
}
.radio-boxes .row {
    padding: 0;
}
.radio-logo {
    min-height: 64px;
    background-position: center;
    background-size: contain;
    margin-top: 10px;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
}
.radio-button {
    width: 90%;
    margin: 5%;
}
.radio-button .read-more-box {
    //@extend .read-more;
    width: 100%;
    font-size: 110%;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.result {
    display: none;
}
.loader .row,
.result .row {
    height: $song-box-height;
    margin-left: $song-box-margin;
    margin-right: $song-box-margin;
    margin-bottom: 10px;
    background-color: $song-box-background;
    overflow: hidden;
}
.result .artist,
.result .title {
    line-height: $song-box-item-height;
    height: $song-box-item-height;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}